/* html,
body {
    margin: 0;
    color: white;
}

#mainheading {
    background-color: rgb(138, 21, 255);
    text-align: center;
    height: 140px;
    display: flex;
    flex-direction: column;


}


#mainheading h1 {
    margin-top: 25px;
}

#mainheading p {
    margin: 0 100px;
} */